<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portal</title>
   <link rel="stylesheet" type="text/css" href="static/css/portal.css">
   <script src="../../static/js/portal.js" defer></script> 
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="/portal">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
        
            <label for="password">Senha:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>        
    </div>    
</body>
</html>
